.root {
  padding: 60px 0;
  background-color: rgb(240, 240, 240);
}
.content {
  color: var(--s-color);
  font-size: 1.375rem;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0 6%;
  line-height: 1.8;
}

@media only screen and (min-width: 900px) {
  .content {
    font-size: 1.875rem;
  }
}
