.banner {
  margin-top: 65px;
  position: relative;
  width: 100vw;
  height: 50vh;
  /* width: fit-content; */
}

.img {
  width: auto;
  height: 100%;
}

.bannerTitle {
  position: absolute;
  top: 50%;
  margin: 0px;
  transform: translateY(-50%);
  width: 100%;
  z-index: 2;
  /* font-size: 32px; */
  color: white;
  text-align: center;
}

.bannerMainTitle {
  font-size: 3rem;
  font-family: serif;
}

.bannerSubTitle {
  display: none;
}

.container_right {
  border-top: 1px solid gainsboro;
}

.banner::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.body {
  padding-left: 4%;
  padding-right: 4%;
  color: var(--s-color);
  font-family: 'futura-pt', sans-serif;
}

.dot {
  display: inline-block;
  height: 6px;
  width: 6px;
  background: #808080;
  border-radius: 50%;
  margin-bottom: 2px;
  transform: translateX(2px);
  margin-right: 10px;
}

.filters > div {
  margin-bottom: 10px;
}

.locations {
  margin-bottom: 60px;
}

/* .listing { */
  /* flex: 8; */
  /* margin-left: 10px; */
/* } */

.job_card {
  color: gray;
  font-size: 0.9rem;
  padding: 10px 20px 0 20px;
  transition: all .3s ease-in;
}

.m_heading {
  display: block;
}

.d_heading {
  cursor: pointer;
  text-decoration: underline;
}

.job_location {
  display: flex;
  justify-content: flex-start;
  max-width: 300px;
  margin-bottom: 8px;
  /* border-bottom: 1px solid gainsboro; */
  padding-bottom: 5px;
}

.job_department {
  display: flex;
  justify-content: flex-start;
  max-width: 300px;
  margin-bottom: 8px;
  margin-bottom: 8px;
  /* border-bottom: 1px solid gainsboro; */
  padding-bottom: 5px;
}

.job_type {
  display: flex;
  justify-content: flex-start;
  max-width: 300px;
  margin-bottom: 8px;
  margin-bottom: 8px;
  /* border-bottom: 1px solid gainsboro; */
  padding-bottom: 5px;
}

.job_card_body {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.tick {
  width: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.activeTitle {
  background: rgb(164, 214, 232, 0.6);
}

.filterButton {
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px 20px;
  color: white;
  border-radius: 25px;
  /* background-color: #66a0c2; */
  /* box-shadow: 0px 0.5px 0px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12); */
  background-color: #24a3d8;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  text-align: center;
}

.filterButtonGroup {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.filterButton:hover {
  cursor: pointer;
}

.filterButtonActive {
  background-color: #66a0c2;
  box-shadow: 0px 0.5px 0px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  /* background-color: #24a3d8; */
  /* box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12); */
}

.badgeFilterButton {
  color: white;
  background-color: #de702c;
}

.badge {  
  display: inline-block;
  padding: 0.25em 0.6em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 10rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.selectedJob {
  display: block !important;
  -webkit-animation: fadeinout 0.5s linear forwards;
  animation: fadeinout 0.5s linear forwards;
}

@-webkit-keyframes fadeinout {
  100% { opacity: 1; }
  0% { opacity: 0.2; }
}

@keyframes fadeinout {
  100% { opacity: 1; }
  0% { opacity: 0.2; }
}

@media only screen and (min-width: 768px) {
  .container {
    display: flex;
  }

  .listing {
    flex: 1 1 35%;
    height: 85vh;
    display: table;
    top: 120px;
  }

  .container_right {
    display: block;
    flex: 1 1 65%;
    white-space: break-spaces;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid gainsboro;
    border-top: none;
    /* scrollbar-width: none; */
  }
  .container_right p {
    text-align: justify;
  }
}

@media only screen and (min-width: 992px) {
  .filterButtonGroup {
    /* display: flex; */
  }

  .img {
    width: 100%;
    height: 100%;
  }

  .body {
    margin: 50px auto 20px auto;
    max-width: 1400px;
  }
  .banner {
    margin-top: 100px;
    height: 90vh;
  }
  .bannerMainTitle {
    font-family: serif;
  }
  .bannerSubTitle {
    display: block;
    font-size: 18px;
    font-weight: 400;
  }

  .banner::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .filters {
    display: flex;
  }
  .filters > div {
    margin-right: 10px;
  }

  .d_heading {
    display: block;
    font-size: 20px !important;
    margin: 10px 0;
  }
  .m_heading {
    display: none;
  }


  .job_card > h3 {
    font-size: 24px;
  }
  .job_details_container {
    display: none;
  }
  /* .container_right > div > div::-webkit-scrollbar {
    display: none;
  } */
}
