.AboutCards {
  display: flex;
  flex-direction: column;
  padding: 0 0 3.75rem 0;
}

@media only screen and (min-width: 600px) {
  .AboutCards {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1200px) {
  .AboutCards {
    flex-wrap: nowrap;
    max-width: 1200px;
  }
}
